---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
import About from "./about.astro";
// import Writings from "../components/home/writings.astro";
---

<Layout title="Elvis Finol Website">

      <div class="relative w-full flex flex-wrap mb-20 mt-32 space-x-2 justify-center lg:text-8xl md:text-7xl sm:text-6xl text-5xl">
          <h1 class="font-bold leading-8 dark:text-white">
            Hello, <h1 class="font-bold leading-8 text-orange-500 dark:text-orange-500">I'm Elvis.</h1>
          </h1>
      </div>

      <div class="flex flex-col justify-center items-center">
            <p class="mb-2 font-bold leading-8 tracking-tight text-gray-900 lg:text-5xl md:text-5xl sm:text-4xl text-3xl dark:text-white"> IT tech professional</p>
            <p class="mb-20 font-medium text-gray-900 lg:text-4xl md:text-3xl sm:text-2xl text-1xl dark:text-white">📍Madrid, Spain </p>  
      </div>


        <div class="flex flex-row justify-center space-x-0">  
          
            <Button text="Follow me on 𝕏" link="https://twitter.com/elvisfinol"/>
            <Button text="Follow me on Instagram" link="https://www.instagram.com/elvisfinol.me/" />

        </div>
 

        <a id="about"></a>
        <Separator text="About"/>
        <About />

        <a id="projects"></a>
        <Separator text="Projects" />
        <Projects />

</Layout>
