---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Side Hustle", description="Side Hustle Page">
  <section class="py-6 px-4 bg-gradient-to-tr from-gray-200 via-gray-100 to-gray-50 shadow-md rounded-xl text-gray-700 text-left transition-all duration-300 ease-in-out space-y-5 max-w-4xl mx-auto">


      <h1 class="text-4xl font-bold text-orange-600 mb-6">In development!</h1>
      
      <!-- Cover Image -->
      <img 
        src="https://images.unsplash.com/photo-1482440308425-276ad0f28b19?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Image representing a side hustle" 
        class="w-full rounded-xl mb-6"
      />

  </section>



  
</MainLayout>