---

import Layout from "../layouts/main.astro";
---

<Layout title="Side Hustle">
  <section class="py-6 px-4 bg-gradient-to-tr from-gray-200 via-gray-100 to-gray-50 shadow-md rounded-3xl border border-gray-400 text-gray-700 text-left transition-all duration-300 ease-in-out space-y-5">
    
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sit recusandae quisquam quae autem nemo aliquam quia! Laudantium dolorem perferendis accusantium consequatur magni assumenda neque aliquam unde quo, reiciendis dolore!</h1>

</section>
</Layout>