---
import Layout from "../layouts/main.astro";
---

<Layout title="Side Hustle">
  <section class="py-6 px-4 bg-gradient-to-tr from-gray-200 via-gray-100 to-gray-50 shadow-md rounded-xl border border-gray-400 text-gray-700 text-left transition-all duration-300 ease-in-out space-y-5">
    <h1>Development in progress</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam unde
      molestias voluptatum tempora incidunt alias voluptatem omnis sequi tempore
      quibusdam, suscipit corrupti consequuntur, ipsam fugit cupiditate illum!
      Ipsum, debitis blanditiis.
    </p>

  </section>



  
</Layout>