---
import Layout from "../layouts/main.astro";
import Separator from "../components/home/separator.astro";
---

<Layout title="Elvis Finol - Side Hustle">

    <section class="py-6 px-4 bg-gradient-to-tr from-gray-200 via-gray-100 to-gray-50 shadow-md rounded-3xl border border-gray-400 text-gray-700 text-left transition-all duration-300 ease-in-out space-y-5">

        <Separator />

    </section>



    
</Layout>

