---
const { link, text } = Astro.props;
---

<a href={link} target="_blank" rel="noopener" class="bg-orange-400 text-black border-orange-500 border-b-4 size-fit overflow-hidden relative px-4 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group text-xs">

{text}
</a>
