---
---


<header>
    <nav aria-label="Main Navigation" class="mb-5">
      <div class="flex w-fit gap-2 font-bold text-gray-800">
        <a 
          href="/" 
          class="px-3 py-1 flex items-center justify-center bg-gray-100 rounded-lg shadow hover:bg-orange-400 
          focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 
          transition duration-300"
        >
          Home
        </a>
        <a 
          href="/side-hustle" 
          class="px-3 py-1 flex items-center justify-center w-full bg-gray-100 rounded-lg shadow hover:bg-orange-400 
          focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 
          transition duration-300"
        >
          Side Hustle Project
        </a>
    </div>
    </nav>
  </header>