---
---


<header>
    <nav aria-label="Main Navigation" class="flex flex-wrap justify-center items-center gap-4 mb-5">
      <a 
        href="/" 
        class="flex items-center justify-center w-full sm:w-auto px-6 py-3 bg-gray-200 text-black font-semibold rounded-lg shadow hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 transition duration-300"
      >
        <span class="sr-only">Go to Home Page</span>
        <p>Home</p>
      </a>
      <a 
        href="/side-hustle" 
        class="flex items-center justify-center w-full sm:w-auto px-6 py-3 bg-gray-200 text-black font-semibold rounded-lg shadow hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 transition duration-300"
      >
        <span class="sr-only">Go to Side Hustle Project</span>
        <p>Side Hustle Project</p>
      </a>
    </nav>
  </header>