---
---


<header id="navbar" class="sticky top-0 z-50 mb-5 transition duration-300">
  <nav aria-label="Main Navigation" class="bg-white/80 rounded-xl shadow-md">
    <div class="container mx-auto flex flex-row justify-evenly items-center gap-4 font-semibold text-gray-600 p-2 text-lg">
      <a 
        href="/" 
        class="px-4 py-2 flex items-center justify-center hover:text-orange-500 transition duration-300 hover:scale-105"
      >
        Home
      </a>
      <a 
        href="/side-hustle" 
        class="px-4 py-2 flex items-center justify-center hover:text-orange-500 transition duration-300 hover:scale-105"
      >
        Side Hustle Project
      </a>
    </div>
  </nav>
</header>

<script>
  window.addEventListener('scroll', () => {
    const navbar = document.getElementById('navbar');
    if (window.scrollY > 10) {
      navbar.classList.add('bg-white/20', 'backdrop-blur-lg', 'shadow-xl', 'rounded-xl');
    } else {
      navbar.classList.remove('bg-white/20', 'backdrop-blur-lg', 'shadow-xl');
    }
  });
</script>