<a href="/" class="flex flex-col items-center">
  <span class="self-center text-sm font-semibold whitespace-nowrap hover:scale-150 transition italic">EF</span>
  <!-- <img src="./elvisfinol.svg" alt="" class="size-6"> -->
</a>