---
import Header from "../components/header.astro"

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{title}</title> -->
    <link href="https://fonts.cdnfonts.com/css/wotfard" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 32 32%22><text y=%2232%22 font-size=%2232%22>🚀</text></svg>"/>    
    <Fragment set:html={import.meta.env.HEADER_INJECT} />

    <style>
      html {
        font-family: 'Wotfard', sans-serif;
        scroll-behavior: smooth;
        font-weight: 400;
      }

    </style>

  </head>


  <body class="antialiased bg-gradient-to-tr from-slate-100 to-gray-200 min-h-screen py-4 px-3 max-w-4xl w-full mx-auto text-base leading-normal tracking-tighter">

    <Header />
    <slot />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />

    <!-- <Footer /> -->
  </body>



</html>
