---
// const { title } = Astro.props;

// Supports weights 100-900
import '@fontsource-variable/onest';

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{title}</title> -->

    <style>
      .prose img {
        border-radius: 20px;
      }

      html {
        font-family: 'Onest Variable', sans-serif;
        scroll-behavior: smooth;
        font-weight: 200;
      }

  
    </style>

    <link rel="icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>

  <body class="antialiased bg-gradient-to-tr from-slate-100 to-gray-200 flex items-center flex-col py-10 px-4">

    <slot />

    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />

  </body>
  
</html>
