---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;

// Supports weights 100-900
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <!-- <script>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark')
        }
      }
    </script> -->

    <style>
      .prose img {
        border-radius: 20px;
      }

      html {
        font-family: 'Onest Variable', sans-serif;
        /* font-family: 'Manrope Variable', sans-serif; */
        scroll-behavior: smooth;
      }

  
    </style>

    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>

  <body class="antialiased bg-white dark:bg-neutral-900">
    <SquareLines />
    <Header />
    <slot />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
  <Footer />
</html>
