---
// const { title } = Astro.props;

// Supports weights 100-900
// import '@fontsource/nanum-gothic-coding';

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{title}</title> -->

    <style>
      .prose img {
        border-radius: 20px;
      }

      @import url('https://fonts.cdnfonts.com/css/wotfard');

      html {
        font-family: 'Wotfard', sans-serif;
        scroll-behavior: smooth;
        font-weight: 400;
      }

  
    </style>

    <link href="https://fonts.cdnfonts.com/css/wotfard" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>

  <body class="antialiased bg-gradient-to-tr from-slate-100 to-gray-200 flex items-center justify-center min-h-screen py-20 px-5">
    <slot />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>

</html>
